# SPDX-License-Identifier: GPL-2.0+

config ALLWINNER_D1
	bool
	select SYS_CACHE_SHIFT_6
	select SUPPORT_SPL
	select BINMAN if SPL
	select SYS_CACHE_THEAD_CMO
	select CLK_THEAD
	imply CPU
	imply CPU_RISCV
	imply RISCV_TIMER if (RISCV_SMODE || SPL_RISCV_SMODE)
	imply CMD_CPU
	imply SPL_CPU
	imply SPL_OPENSBI
	imply SPL_LOAD_FIT
