CONFIG_RISCV=y
CONFIG_ARCH_RV64I=y
CONFIG_DEFAULT_DEVICE_TREE="allwinner/sun20i-d1s-mangopi-mq"
CONFIG_DRAM_SUN20I_D1=y
CONFIG_IDENT_STRING=" Allwinner D1s/F133-A"
# CONFIG_SPL_SMP is not set
CONFIG_SPL_SYS_MALLOC=y
CONFIG_SPL_OPENSBI_SCRATCH_OPTIONS=0x0
CONFIG_RISCV_SMODE=y
CONFIG_TARGET_SUN20I_D1=y
